@media screen and (max-width: 1200px){
    .katex-display {
        min-height: 100%;
        width: 100%;
        overflow-x: auto;
        overflow-y: hidden;
    }
    .katex-display::-webkit-scrollbar {
        display: none;
    }
}
